.aboutMe {
	font-family: "Lato";
}

.toolBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;
	font: normal 16px/24px  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.toolBarInner {
	background: #111;
	line-height: 0;
	text-align: center;
}

.nav {
	display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    border-right: 1px solid #222;
    zoom: 1;
}

.toolBar li {
	display: block;
    float: left;
    padding: 0;
}

.nav a {
  display: block;
  font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 18px 20px 18px 20px;
  border-left: 1px solid #222;
}

a:hover,
a:focus {
    background-color: #222 !important;
    color: #fff;
    text-decoration: none;
    outline: 0;
}

.nav a:hover {
  background: #222;
  text-decoration: none;
  border-left: 1px solid #111;
}

.toolBar i {
	font-size: 25px;
}

.glyphicon {
	display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}

.centered {
	text-align: center;
}

.header {
	background: url(../assets/images/me2.jpg) no-repeat center top;
	margin-top: 50px;
	padding-top:140px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	color: #fff;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headerwrap h1 {
	font-size: 80px;
}

.headerwrap h3 {
	font-size: 20px;
}

.intro {
	background: #2c3e50;
	padding-top: 60px;
	padding-bottom: 60px;
	color: #fff;
}

.intro i {
	color: white;
	font-size: 20px;
	padding-right: 8px;
	vertical-align: middle;
}

.desc {
	padding-top: 50px;
}

a {
	color: #fff;
}
