<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/EmailComponent.css"/>
    </head>
    <body>
        
        <!-- <div class="emailBox" id="emailBox">
			<input type="text" id="emailInput" class="textBox" onkeydown="processText()"/>
		</div>
 -->
		<div class="emailBox" id="emailBox">
		    <span id="emailInput" class="textBox" contenteditable="true" onkeydown="processText()"></span>
		</div>

        <script type="text/javascript" src="js/EmailComponent.js"> </script>

    </body>
</html>